#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://legacy.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Mon Mar 16 22:33:09 CDT 2020
enableMiddleClick=true
showChestButtons=false
enableSortingOnPickup=false
enableAutoRefill=true
autoRefillBeforeBreak=false
autoRefillDamageThreshhold=5
enableSounds=true
enableShortcuts=false
enableAutoEquipArmor=false
enableServerItemSwap=true
enableConfigLoadedMesssage=false
invertToolDamageSorting=true
shortcutKeyAllItems=
shortcutKeyEverything=
shortcutKeyOneItem=
shortcutKeyToUpperSection=
shortcutKeyToLowerSection=
shortcutKeyDrop=
enableToolTipTreePath=false
version=1.64+dev.150.7168e7a
